<br><br>
<div class="row center deep-purple lighten-3" style="padding: 2em; border-radius:1rem">
<h1 class="header center deep-purple-text">Bienbenido a ProJNotes</h1>
<div class="row center">
    <h5 class="header col s12 light grey-text text-darken-3">
        Una apliación que te permitira registrar ideas de proyectos que se te vayan ocurriendo.
    </h5>
</div>
<div class="row center">
    <a href="#" class="btn-large waves-effect waves-light deep-purple">
      Registra una idea
    </a>
  </div>
</div>